 <div class="columns is-centered">
    <div class="column is-half">
        <h1 class="is-size-3">Add Album To Library </h1>
        <!-- add album form-->
        <form>
            <div class="field">
                <label class="label" for="album-name">Album name:</label>
                <div class="control">
                    <input class="input" type="text" id="album-name" name="album-name">
                </div>
            </div>
            <div class="field">
                <label class="label" for="artist-name">Artist name:</label>
                <div class="control">
                    <input class="input" type="text" id="artist-name" name="artist-name">
                </div>
            </div>
            <div class="field">
                <label class="label" for="price">Price:</label>
                <div class="control">
                    <input class="input" type="number" id="price" name="price">
                </div>
            </div>            
            <!-- select genre, use genre table to get id so that the value of the option is the id of the genre-->
            <div class="field">
                <label class="genre" for="genre">Genre:</label>
                <div class="select mb-4">
                    <select name="genre">
                        <option value="1">Rock</option>
                        <option value="2">Rap</option>
                        <option value="3">Classical</option>
                        <option value="4">Hip-Hop</option>
                        <option value="5">Country</option>
                    </select>
                </div>
            </div>
            <button class="button is-primary">Add Album</button>
        </form>
        <section class="mt-4">
            <h1 class="is-size-3">Add a Genre</h1>
            <form>
                <div class="field">
                    <label class="label" for="genre">Genre Name</label>
                    <div class="control">
                        <input class="input" type="text" name="genre" placeholder="genre name" />
                    </div>
                </div>
                <button class="button is-primary">Add Genre</button>
            </form>
        </section>
        <section class="mt-4">
            <h1 class="is-size-3">Add an Artist</h1>
            <form>
                <div class="field">
                    <label class="label" for="genre">Artist</label>
                    <div class="control">
                        <input class="input" type="text" name="artist" placeholder="artist name" />
                    </div>
                </div>
                <button class="button is-primary">Add Artist</button>
            </form>
        </section>
    </div>
</div>