 <!-- <div class="columns is-centered"> -->
<div>
    <div class="column">
        <h1 class="is-size-3">Add Album To Library </h1>
        {{message}}

        <!-- add album form-->
        <div class="entity-div">
        <form action = "/add-album", method = "POST">
            <div class="field">
                <label class="label" for="album-name">Album Name:</label>
                <div class="control">
                    <input class="input" type="text" id="album-name" name="album-name">
                </div>
            </div>
            <div class="field">
                <label class="label" for="artist-name">Artist Name:</label>
                <div class="control">
                    <input class="input" type="text" id="artist-name" name="artist-name" list="artist-list">
                    <datalist id="artist-list">
                        {% for artist in artists %}
                        <option value="{{artist[1]}}">{{artist[1]}}</option>    
                        {% endfor %}
                    </datalist>
                </div>
            </div>
            <div class="field">
                <label class="label" for="artist-name">Second Artist Name (Optional):</label>
                <div class="control">
                    <input class="input" type="text" id="second-artist-name" name="second-artist-name" list ="artist-list">
                    <datalist id="artist-list">
                        {% for artist in artists %}
                        <option value="{{artist[1]}}">{{artist[1]}}</option>    
                        {% endfor %}
                    </datalist>
                </div>
            </div>
            <div class="field">
                <label class="label" for="price">Price:</label>
                <div class="control">
                    <input class="input" type="number" id="price" name="price">
                </div>
            </div>
            <div class="field">
                <label class="label" for="copiesInStock">Number of Copies In Stock:</label>
                <div class="control">
                    <input class="input" type="number" id="copiesInStock" name="copiesInStock">
                </div>
            </div>  
            <div class="field">
                <label class="label" for="year">Year Released:</label>
                <div class="control">
                    <input class="input" type="number" id="year" name="year">
                </div>
            </div>                 
            <!-- select genre, use genre table to get id so that the value of the option is the id of the genre-->
            <div class="field">
                <label class="label" for="genre">Genre:</label>
                <div class="select mb-4">
                    <select name="genre">
                        {% for genre in genres %}
                        <option value="{{genre[0]}}">{{genre[1]}}</option>    
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="field">
                <label class="label" for="second-genre">Second Genre (optional):</label>
                <div class="select mb-4">
                    <select name="second-genre">
                        <option value="{{None}}">None</option>  
                        {% for genre in genres %}
                        <option value="{{genre[0]}}">{{genre[1]}}</option>    
                        {% endfor %}
                    </select>
                </div>
            </div>
            <button class="button is-primary">Add Album</button>
        </form>
        <section class="mt-4">
            <h1 class="is-size-3">Add a Genre</h1>
            <form>
                <div class="field">
                    <label class="label" for="genre">Genre Name</label>
                    <div class="control">
                        <input class="input" type="text" name="genre" placeholder="genre name" />
                    </div>
                </div>
                <button class="button is-primary">Add Genre</button>
            </form>
        </section>
        </div>


        <!-- Add Artist-->
        
        <section class="mt-4">
            <h1 class="is-size-3">Add an Artist</h1>
            <div class="entity-div">
            <form action = "/add-artist", method = "POST">
                <div class="field">
                    <label class="label" for="genre">Artist</label>
                    <div class="control">
                        <input class="input" type="text" name="artist-name" placeholder="artist name" />
                    </div>
                </div>
                <button class="button is-primary">Add Artist</button>
            </form>
        </section>
        </div>

        <!-- Add track-->
        <section class="mt-4">
            <h1 class="is-size-3">Add Track</h1>
            <div class="entity-div">
            <form>
                <div class="field">
                    <label class="label" for="track-name">Track</label>
                    <div class="control">
                        <input class="input" type="text" name="track-name" placeholder="track name" />
                    </div>
                </div>
                <div class="field">
                    <label class="label" for="track-length">Length</label>
                    <div class="control">
                        <input class="input" type="number" name="track-length" placeholder="track length" />
                    </div>
                </div>
                <div class="field">
                    <label class="label" for="track-name">Album Name</label>
                    <div class="select mb-4">
                        <select  name="album-id" placeholder="album name" >
                        {% for album in albums %}
                        <option value="{{album[0]}}">{{album[1]}}</option>    
                        {% endfor %}
                        </select>
                    </div>
                </div>
                <button class="button is-primary">Add Track</button>
            </form>
            </div>
        </section>
        
    </div>
</div>