 <div class="columns is-centered">
    <div class="column is-half">
        <h1 class="is-size-3">Delete Album</h1>
        <!-- search and delete by album name? -->
        <form class="flex flex-row">
            <div class="field">
                <label class="label" for="album-name">Album name:</label>
                <input class="input" type="text" id="album-name" name="album-name"><br>
            </div>
            <button class="button is-warning">Delete</button>
        </form>
        <h1 class="is-size-3">Delete Genre</h1>
        <!-- search and delete by album name? -->
        <form class="flex flex-row">
            <div class="field">
                <label class="label" for="genre-name">Genre name:</label>
                <input class="input" type="text" id="genre-name" name="genre-name"><br>
            </div>
            <button class="button is-warning">Delete</button>
        </form>
        <h1 class="is-size-3">Delete Artist</h1>
        <!-- search and delete by album name? -->
        <form class="flex flex-row">
            <div class="field">
                <label class="label" for="artist-name">Artist name:</label>
                <input class="input" type="text" id="artist-name" name="artist-name"><br>
            </div>
            <button class="button is-warning">Delete</button>
        </form>
    </div>
</div>