{% extends "layout/layout_template.html" %}
{% block title %}My Account{% endblock %}
{% block content %}
        <section class="mb-6 p-4 box">
            <h1 class="has-text-center is-size-1 mb-4">My Account</h1>
        </section>
        <section class="mb-6 box">
            <h2 class="is-underlined">My Info</h2>
            <ul>
                <li><span class="has-text-weight-bold">First Name:</span> Test</li>
                <li><span class="has-text-weight-bold">Last Name:</span> User</li>
                <li><span class="has-text-weight-bold">Email:</span> Test.User@plusrecords.com</li>
                <li><span class="has-text-weight-bold">Favorite Genre:</span> Alternative Rock</li>
            </ul>

        </section>
        <section class="box">
            <h2>Past Orders</h2>
            <table class="table is-hoverable">
                <thead>
                    <tr>
                        <th>Order Number</th>
                        <th>Albums</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Colors by J. Balvin</td>
                        <td>9.99</td>
                    <tr>
                    <tr>
                        <td>2</td>
                        <td>Oasis by J. Balvin and Bad Bunny</td>
                        <td>9.99</td>
                    </tr>
                </tbody>
            </table>
        </section>
        <section>
            <a href="edit-account" class="button has-background-primary is-pulled-right">Edit Account</a>
        </section>
    </div>
    <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
{% endblock %}