{% extends "layout/layout_template.html" %}
{% block title %}Admin{% endblock %}
{% block content %}
   <div>
        <h1>Add Album To Library </h1>
        <!-- add album form-->
        <form method="POST">
            <label for="album-name">Album name:</label><br>
            <input type="text" id="album-name" name="album-name"><br>
            
            <label for="artist-name">Artist name:</label><br>
            <input type="text" id="artist-name" name="artist-name"><br>
            
            <label for="price">Price:</label><br>
            <input type="number" id="price" name="price"><br>
            
            <label for="genre">Genre:</label><br>
            <input type="text" id="genre" name="genre"><br>
            <br>
            <input type ="submit">
        </form>
   </div>
   <div>
       <h1>Delete Album</h1>
       <!-- search by album name? -->
       <form method="POST">
        <label for="album-name">Album name:</label><br>
        <input type="text" id="album-name" name="album-name"><br>
        <input type ="submit">
    </form>
   </div>
{% endblock %}