{% extends "layout/layout_template.html" %}
{% block title %}Admin{% endblock %}
{% block content %}
<nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
    <li><a href="search" class={{ "active" if view == "search" or "" else ""}}>Search</a></li>
      <li><a href="add" class={{ "active" if view == "add" or "" else ""}}>Add</a></li>
      <li><a href="edit" class={{ "active" if view == "edit" else "" }}>Edit</a></li>
      <li><a href="delete" class={{ "active" if view == "delete" else ""}}>Delete</a></li>
      <li><a href="orders" class={{ "active" if view == "orders" else ""}}>Manage Orders</a></li>
    </ul>
  </nav>
   <section class="mb-4">
        {% if view == "search" %}
        {% include "admin/search-template.html" %}
        {% elif view == "add" %}
            {% include "admin/add-template.html" %}
        {% elif view == "edit" %}
            {% include "admin/update-template.html" %}
        {% elif view == "delete" %}
            {% include "admin/delete-template.html" %}
        {% elif view == "orders" %}
            {% include "admin/manage-orders-template.html" %}
        {% endif %}
        
       
       
    </section>
   
{% endblock %}