<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/cart.css')}}">
    <script src="./scripts/main.js"></script>
    <title>My Cart</title>
</head>
<body>
    <div class="container is-size-4">
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a href="/" class="navbar-item">+Records</a>
    
                <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="hamburger">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>  
            </div>
    
            <div id="hamburger" class="navbar-menu">
                <div class="navbar-end">
                    <a href="about.html" class="navbar-item">About</a>
                    <a href="account-template.html" class="navbar-item">My Account</a>
                    <a href="cart-template.html" class="navbar-item">My Cart</a>
                </div>
            </div>
        </nav>
       <!-- Header/navbar section end-->

       <div class="main-div">
        <div >
            <h1 id ="headline">My Cart</h1>
            <ul>
                <li class="columns">
                <span class= "cart-item column is-one third">Cart item</span> <span class="cart-item-price column is-one third">$12.99</span> <button class = "button remove-button  column is-one third">Remove</button> 
            </li>
            <li class ="columns">
                <span class= "cart-item column is-one third">Cart item number </span> <span class="cart-item-price column is-one third">$9.99</span><button class = "button remove-button column is-one third">Remove</button> 
            </li>
            </ul>
            <div id = "cart-total">$22.98</div>
        </div>
        <div id = "buy-div"><button class="button buy-btn">Buy</button></div>
        <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
        </div>    
    </div>
</body>
</html>