{% extends "layout/layout_template.html" %}
{% block title %}My Cart{% endblock %}
{% block content %}
       <div class="main-div">
        <div >
            <h1 id ="headline">My Cart</h1>
            <ul>
                <li class="columns">
                <span class= "cart-item column is-one third">Cart item</span> <span class="cart-item-price column is-one third">$12.99</span> <button class = "button remove-button  column is-one third">Remove</button> 
            </li>
            <li class ="columns">
                <span class= "cart-item column is-one third">Cart item number </span> <span class="cart-item-price column is-one third">$9.99</span><button class = "button remove-button column is-one third">Remove</button> 
            </li>
            </ul>
            <div id = "cart-total">$22.98</div>
        </div>
        <div id = "buy-div"><button class="button buy-btn">Buy</button></div>
        <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
        </div>    
    </div>
{% endblock %}