{% extends "layout/layout_template.html" %}
{% block styles %}
<link rel="stylesheet" href={{ url_for("static", filename="styles/cart.css") }} />
{% endblock %}
{% block scripts %}
<script src={{ url_for("static", filename="scripts/cart.js")}}></script>
{% endblock %}
{% block title %}My Cart{% endblock %}
{% block content %}
       <div class="main-div">
        <div id="container">
            <h1 id ="headline">My Cart</h1>
            <h2 class="is-hidden">You're cart is empty</h2>
            <div id="albums-container">
               
            </div>
        </div>
        <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
        </div>    
    </div>
{% endblock %}