{% extends "layout/layout_template.html" %}
{% block title %}Create Account{% endblock %}
{% block content %}
<section class="mb-4">
    <h1 class="is-size-1">Create Account</h1>
    {% if context["error"] %}
        <p class="is-error">{{ context["error"] }}</p>
    {% endif %}
</section>
<section class="columns">
    <form class="form column is-two-thirds" action="/create-account" method="POST">
        <div class="field">
            <label for="first_name" class="label">First Name: </label>
            <div class="control">
                <input type="text" class="input" placeholder="First Name" name="firstName">
            </div>
        </div>
        <div class="field">
            <label for="last_name" class="label">Last Name: </label>
            <div class="control">
                <input type="text" class="input" placeholder="Last Name" name="lastName">
            </div>
        </div>
        <div class="field">
            <label for="email" class="label">Email: </label>
            <div class="control">
                <input type="email" class="input" placeholder="email" name="email">
            </div>
        </div>
        <div class="field">
            <label for="fav_genre" class="label">Favorite Genre</label>
            <select name="favGenre" id="fav_genre" class="select">
                {% for genre in context["genres"] %}
                    <option value={{ genre[1]}}>{{ genre[0]}}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <button class="button is-link">Create Account</button>
        </div>
    </form>
</section>
{% endblock %}