{% extends "layout/layout_template.html" %}
{% block title %}Login{% endblock %}

{% block content %}

<div class="columns is-centered mt-6">
    {% if context and context["error"] %}
        <p>{{ context["error"] }}</p>
    {% endif %}
    <form class="column is-half" method="POST" action="login">
        <div class="field">
            <label for="user" class="label">Email: </label>
            <div class="control">
                <input type="text" class="input" placeholder="email" name="email" required>
            </div>
        </div>
        <div class="field">
            <label for="password" class="label">Password: </label>
            <div class="control">
                <input type="password" class="input" placeholder="password" name="password">
            </div>
        </div>
        <div class="field">
            <button class="button is-primary">Login</button>
            <p>works with any input for now</p>
        </div>
    </form>
</div>
{% endblock %}