
.details-main-div{
    margin-left: 1.5%
}

h1{
    margin: 1%;
    font-weight: bold;
    font-size: large;
}
.album-detail-item{
    margin: 1%;
    font-size: 18px;
    font-weight: bolder;
}

#album-price{
    margin: 1%;
    font-size: large;
}
.cart-btn{
    margin: 1%;
}
.cart-btn:hover{
    color: rgb(9, 119, 42);
    background-color: honeydew;
    text-decoration: underline;
}