
.albums > div { 
    width: 200px;
    height: 200px;
    border-radius: 2%;
    background-color: black;
    margin: 10px;
}

.message-text{
    text-align: center;
    color: forestgreen;
    background-color: black;
}

.form-btn{
    margin-top: 1.2%;
}

td{
    margin-right: 1.3%;
    padding: 1%;
}
th{
    margin-right: 1.3%;
    font-weight: normal;
    font-size: medium;
    padding: 1%;
}

.entity-div{
    border: solid gray;
    border-radius: 1.2%;
    padding: 1.2%;
    margin: 1.2%;
}