<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <script src="./scripts/main.js"></script>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="container is-size-4">
        {% include "layout/nav.html" %}
        
        <!-- Header/navbar section end-->
        {% block content %}

        {% endblock %}
    <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
</body>
</html>